@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #09090A;
}

body {
    background-color: var(--bg-color);
    color: white;

    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 48px;
}

button {
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #8B5CF6;
    background-color: transparent;
    color: white;

    display: flex;
    align-items: center;
    gap: 12px;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

input {
    width: 64px;
    height: 64px;
}

